<DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Happy Birthday</title>
</head>
<body>
    <div class="birthday-card">
        <h1>Happy Birthday Muniii 🎂</h1>
        <p>Wishing you an amazing day full of joy and laughter!🎈🎉🎊 </p>
        <p>May Allah bless you and grant you happiness and success.</p>
           <p> I created this Website so that you could forgive me for forgetting yesterday 😅😅😅</p>
        <p>Love you so much! 💖</p>
     <div class="letter-signoff">
        <p>With all my love,</p>
        <p>Zahra</p>
        </div>
    </div>
</body>
</html>